<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks, DPhiL</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="left-panel">
                <button type="button" id="donate-button">Donate!</button>
                <div class="cover" align="center">
                    <div class="content">
                        <div class="background">
                            <img src="../images/logo.png" class="img-responsive logo" alt="DPhiL Logo">
                            <h1 class="site-name">Thanks, DPhiL!<3</h1>
                        </div>
                    </div>
                    <div class="scroll">Check out more DPhiL stories &#x25BC;</div>
                </div>

                {% if app.stories is defined %}
                    {% for story in app.stories %}
                        {% if story.anonymous == 'f' %}
                            {% set name = story.first ~ " \"" ~ story.sister ~ "\" " ~ story.last%}
                        {% else %}
                            {% set name = "Anonymous" %}
                        {% endif %}
                        <div class={{'comment comment-'~story.id}} style="background-image: url({{ '../images/pic-' ~ story.id % app.num_images ~ '.jpg' }})">
                            <div class='content'>
                                <div class='background'>
                                    {% autoescape %}
                                        <div class='story-display'><p style='color: #897C7B;'>{{story.story | replace({"\r\n": " <br \> ", "\r\n": " <br \> "}) | raw}}</p><p style='color: #895753;'>-{{name}} {{story.date | date("m.d.Y")}}</p></div>
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div id="right-panel">
                <button type="button" id="close-button"><font color="#b94646">X</font></button>
                <form id="form" name="form"  role="form" data-toggle="validator" action="../sendPayment.php" method="POST">
                    <span id="payment-errors">{{app.err_msg}}</span>
                    <legend>Here's to the memories we made...</legend>

                    <div class="form-group" style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>I am</span>
                        <select id="name" name="name" pattern="^((?!default).)*$" data-pattern-error="Required" required style="width:100%">
                            <option value="default" disabled selected>--</option>
                            <option disabled>- Charter -</option>
                            {% set class = "Charter" %}
                            {% if app.sisters is defined %}
                                {% for sister in app.sisters %}
                                    {% if sister.class != class %}
                                        {% set class = sister.class %}
                                        <option disabled> </option>
                                        <option disabled>- {{sister.class}} -</option>
                                    {% endif %}
                                    <option value={{sister.number|format("%02d") ~ "_" ~ sister.first}}>#{{sister.number|format("%02d")}} {{sister.first}} "{{sister.sister}}" {{sister.last}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Email</span>
                        <input type="email" id="email" name="email" required data-required-error="Required" data-error="Invalid email" style="width:100%">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Amount</span>
                        <input type="number" id="amount" name="amount" min="0.50" max="999999.99" step="0.01" required data-required-error="Required" data-min-error="Amount has to be at least $0.50" data-max-error="Amount cannot be larger than $999,999.99" data-step-error="" style="width:100%">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <span style="white-space:nowrap">The money goes to</span>
                        <input type="text" id="purpose" name="purpose" style="width:100%">
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <span style="display:table-row; width:100%"><font color="#b94646">*</font>What memory do you want to share?</span>
                        <textarea id="story" name="story" rows="6" data-error="Required" required style="display:table-row; width:100%"></textarea>
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Card Number</span>
                        <input type="tel" id="card" name="card" size="16" maxlength="16" pattern="[0-9]+" data-required-error="Required" data-error="Invalid card number" data-minlength="16" data-stripe="number" required style="width:100%">
                        <div class="help-block with-errors"></div>
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <div class="form-inline" style="display:flex">
                            <div class="form-group" style="display:flex">
                                <span style="white-space:nowrap"><font color="#b94646">*</font>Expiration Date</span>
                                <select class="exp" id="exp_month" name="exp_month" data-stripe="exp_month" pattern="^((?!default).)*$" data-pattern-error="Required" required>
                                    <option value="default" disabled selected>MM</option>
                                    <option value="01">01</option>
                                    <option value="02">02</option>
                                    <option value="03">03</option>
                                    <option value="04">04</option>
                                    <option value="05">05</option>
                                    <option value="06">06</option>
                                    <option value="07">07</option>
                                    <option value="08">08</option>
                                    <option value="09">09</option>
                                    <option value="10">10</option>
                                    <option value="11">11</option>
                                    <option value="12">12</option>
                                </select>
                                <div class="help-block with-errors"></div>
                                <span>/</span>
                            </div>
                            <div class="form-group" style="display:flex">
                                <select class="exp" id="exp_year" name="exp_year" data-stripe="exp_year" pattern="^((?!default).)*$" data-pattern-error="Required" required>
                                    <option value="default" disabled selected>YY</option>
                                    {% set currentYear = "now"|date("Y") %}
                                    {% for year in currentYear..(currentYear + 20) %}
                                        <option value={{year % 100}}>{{year % 100}}</option>
                                    {% endfor %}
                                </select>
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="display:table; width:100%">
                        <div class="form-inline" style="display:flex; horizontal-align:left">
                            <div class="form-group" style="display: table; width:50%">
                                <span style="white-space:nowrap"><font color="#b94646">*</font>CVC</span>
                                <input type="tel" id="cvc" name="cvc" size="4" maxlength="4" data-stripe="cvc" pattern="[0-9]+" data-required-error="Required" data-error="Invalid CVC" required style="width:100%">
                                <div class="help-block with-errors"></div>
                            </div>
                            <div class="form-group" style="display: table; width:50%">
                                <span style="white-space:nowrap"><font color="#b94646">*</font>Billing Zip</span>
                                <input type="tel" id="zip" name="zip" size="6" maxlength="6" data-stripe="address_zip" pattern="[0-9]+" data-required-error="Required" data-error="Invalid zip" required style="width:100%">
                                <div class="help-block with-errors"></div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group form-inline anonymous-checkbox">
                        <input type="checkbox" id="anonymous" name="anonymous" value="anonymous">
                        <label class="anonymous-label">Post my story anonymously</label>
                    </div>

                    <br>
                    <div class="form-group">
                        <button type="submit" class="submit btn" id="custom-button">I'm ready to donate!</button>
                    </div>

                    <br>
                    <label><font color="#b94646">*</font> Required</label>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/validator.min.js"></script>
    <script type="text/javascript" src="../scripts/responsive.js"></script>
    <script type="text/javascript" src="../scripts/getAndSendStripeToken.js"></script>
    <script type="text/javascript">
        var s_height = document.getElementById('story').scrollHeight;
        document.getElementById('story').setAttribute('style','height:'+s_height+'px');

        var stories = document.getElementsByClassName("story-display");
        for (var i = 0; i < stories.length; i++) {
            var text = stories[i].innerHTML;
            text = text.replace(/((http|https|ftp|ftps)\:\/\/[a-zA-Z0-9\-\.]+\.[a-zA-Z]{2,3}(\/\S*)?)/g, '<a href="$1">$1</a>');
            stories[i].innerHTML = text;
        }
        
        {% if app.post is not empty %}
            $('#name').val('{{app.post.name}}');
            $('#email').val('{{app.post.email}}');
            $('#amount').val('{{app.post.amount}}');
            $('#purpose').val('{{app.post.purpose}}');
            $('#story').val('{{app.post.story}}');
            $('#card').val('{{app.post.card}}');
            $('#exp_month').val('{{app.post.exp_month}}');
            $('#exp_year').val('{{app.post.exp_year}}');
            $('#cvc').val('{{app.post.cvc}}');
            $('#zip').val('{{app.post.zip}}');
            {% if app.post.anonymous is defined %}
                $('#anonymous').prop('checked', true);
            {% endif %}
        {% endif %}

        if (isMobile()) {
            var err = document.getElementById('payment-errors');
            err.setAttribute("class", "hidden");

            {% if app.err_msg is not empty %}
                alert("{{app.err_msg}}");
            {% endif %}
            {% if app.suc_msg is not empty %}
                alert("We appreciate your donation, {{app.suc_msg}}! <3");
            {% endif %}
        } else {
            {% if app.suc_msg is not empty %}
                $('#form').find('legend').text("We appreciate your donation, {{app.suc_msg}}! <3");
            {% endif %}
        }
    </script>
</body>
</html>