<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scal=1">
    <title>Thanks, DPhiL</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Reenie+Beanie" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="left-panel" class="col-md-8">
                <div class="cover" align="center">
                    <div class="content">
                        <div class="background">
                            <img src="../images/logo.png" class="img-responsive logo" alt="DPhiL Logo">
                            <h1 class="site-name">Thanks, DPhiL!<3</h1>
                        </div>
                    </div>
                </div>

            {% set commentStyle = "" %}
            {% if app.stories is defined %}
                {% for story in app.stories %}
                    {% if not story.anonymous %}
                        {% set name = story.first ~ " \"" ~ story.sister ~ "\" " ~ story.last%}
                    {% else %}
                        {% set name = "" %}
                    {% endif %}
                    {% set commentStyle = commentStyle ~ ".comment-" ~ story.id ~ ", " %}
                    <script>
                        .comment-{{story.id}}.style.backgroundImage = 'url({{ '../images/pic-' ~ story.id % app.num_images ~ '.jpg' }})';
                    </script>
                    <div class={{'comment-'~story.id}}>
                        <div class='content'>
                            <div class='background'>
                                <div class='story-display'><p style='color: #897C7B;'>{{story.story}}</p><br><p style='color: #895753;'>-{{name}} {{story.date}}</p></div>
                                </div>
                            </div>
                    </div>
                {% endfor %}
            {% endif %}

            <style type='text/css'>{{commentStyle[:commentStyle|length - 2]}}
                {
                    height: 100%;
                    width: 100%;
                    display: table;
                    background-attachment: fixed;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                }
            </style>

            </div>
            <div id="right-panel" class="col-md-4">
                <form id="form" name="form" action="../insertIntoDB.php" method="POST">
                    <span class="payment-errors"></span>
                    <legend>GIVE US MONEY</legend>
                    <div class="form-row">
                        <label for="name">
                            <span>I am</span>
                            <select id="name" name="name" required="true">
                                <option value="default" disabled>--</option>
                                <option disabled>- Charter -</option>
                                {% set class = "Charter" %}
                                {% if app.sisters is defined %}
                                    {% for sister in app.sisters %}
                                        {% if sister.class != class %}
                                            {% set class = sister.class %}
                                            <option disabled> </option>
                                            <option disabled>- {{sister.class}} -</option>
                                        {% endif %}
                                        <option value={{'\''~sister.number|format("%02d")~'\''}}>#{{sister.number|format("%02d")}} {{sister.first}} "{{sister.sister}}" {{sister.last}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </label>
                    </div>

                    <div class="form-row">
                        <label for="email">
                            <span>Email</span>
                            <input type="email" id="email" name="email" required="true">
                        </label>
                    </div>
                    
                    <div class="form-row">
                        <label for="amount">
                            <span>Amount</span>
                            <input type="number" id="amount" name="amount" required="true">
                        </label>
                    </div>
                    
                    <div class="form-row">
                        <label for="purpose">
                            <span>Purpose</span>
                            <input type="text" id="purpose" name="purpose">
                        </label>
                    </div>
                    
                    <div class="form-row">
                        <label for="story">
                            <span>What's your story with DPhiL?</span>
                            <textarea id="story" name="story" rows="6" required="true"></textarea>
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Card Number</span>
                            <input type="text" size="20" maxlength="20" data-stripe="number" required="true">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>Expiration (MM/YY)</span>
                            <input class="exp" type="text" size="2" maxlength="2" data-stripe="exp_month" required="true">
                            <span> / </span>
                            <input class="exp" type="text" size="2" maxlength="2" data-stripe="exp_year" required="true">
                        </label>
                    </div>

                    <div class="form-row">
                        <label>
                            <span>CVC</span>
                            <input type="text" size="4" maxlength="4" data-stripe="cvc" required="true">
                        </label>
                        &emsp;
                        <label>
                            <span>Billing Zip</span>
                            <input type="text" size="6" maxlength="6" data-stripe="address_zip" required="true">
                        </label>
                    </div>

                    <div class="form-row, anonymous-checkbox">
                        <input type="checkbox" name="anonymous" value="anonymous">
                        <label for="anonymous" class="anonymous-label">Post my story anonymously</label>
                    </div>

                    <button type="submit" class="submit" id="custom-button">I'm ready to donate!</button>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript">
        function validateForm() {
            var name = document.forms['form']['name'].value;
            if (name != "default") {
                alert("Name must be filled out");
                return false;
            }

            var email = document.forms['form']['email'].value;
            if (!(/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email.value))) {
                alert("You have entered an invalid email address!")
                return false;
            }
        }
    </script>
    <script type="text/javascript">
        Stripe.setPublishableKey('pk_test_DuyFhe6ZKiJbjFgdJ57dpOFd');

        $(function() {
            var $form = $('#form');
            $form.submit(function(event) {
                // Disable the submit button to prevent repeated clicks:
                $form.find('.submit').prop('disabled', true);

                // Request a token from Stripe:
                Stripe.card.createToken($form, stripeResponseHandler);

            // Prevent the form from being submitted:
                return false;
            });
        });

        function stripeResponseHandler(status, response) {
            // Grab the form:
            var $form = $('#form');

            if (response.error) { // Problem!

                // Show the errors on the form:
                $form.find('.payment-errors').text(response.error.message);
                $form.find('.submit').prop('disabled', false); // Re-enable submission

            } else { // Token was created!

                // Get the token ID:
                var token = response.id;

                // Insert the token ID into the form so it gets submitted to the server:
                $form.append($('<input type="hidden" name="stripeToken">').val(token));

                // Submit the form:
                $form.get(0).submit();
            }
        };
    </script>
</body>
</html>