<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks, DPhiL</title>
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Advent+Pro" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div id="left-panel">
                <button type="button" id="donate-button">Donate!</button>
                <div class="cover" align="center">
                    <div class="content">
                        <div class="background">
                            <img src="../images/logo.png" class="img-responsive logo" alt="DPhiL Logo">
                            <h1 class="site-name">Thanks, DPhiL!<3</h1>
                        </div>
                    </div>
                    <div class="scroll">Scroll to check out more DPhiL stories &#x25BC;</div>
                </div>

                {% set commentStyle = "" %}
                {% if app.stories is defined %}
                    {% for story in app.stories %}
                        {% if story.anonymous == 'f' %}
                            {% set name = story.first ~ " \"" ~ story.sister ~ "\" " ~ story.last%}
                        {% else %}
                            {% set name = "Anonymous" %}
                        {% endif %}
                        {% set commentStyle = commentStyle ~ ".comment-" ~ story.id ~ ", " %}
                        <div class={{'comment-'~story.id}}>
                            <div class='content'>
                                <div class='background'>
                                    <div class='story-display'><p style='color: #897C7B;'>{{story.story}}</p><p style='color: #895753;'>-{{name}} {{story.date | date("m.d.Y")}}</p></div>
                                </div>
                            </div>
                        </div>
                        <script>
                            document.getElementsByClassName('comment-{{story.id}}')[0].style.backgroundImage = 'url({{ '../images/pic-' ~ story.id % app.num_images ~ '.jpg' }})';
                        </script>
                    {% endfor %}
                {% endif %}

                <style type='text/css'>{{commentStyle[:commentStyle|length - 2]}}
                    {
                        height: 100%;
                        width: 100%;
                        display: table;
                        background-attachment: fixed;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                </style>

            </div>
            <div id="right-panel">
                <button type="button" id="close-button"><font color="#b94646">X</font></button>
                <form id="form" name="form" action="../sendPayment.php" method="POST">
                    <span id="payment-errors">{{app.err_msg}}</span>
                    <legend>Here's to the memories we made...</legend>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>I am</span>
                        <select id="name" name="name" required="true" style="width:100%">
                            <option value="default" disabled selected>--</option>
                            <option disabled>- Charter -</option>
                            {% set class = "Charter" %}
                            {% if app.sisters is defined %}
                                {% for sister in app.sisters %}
                                    {% if sister.class != class %}
                                        {% set class = sister.class %}
                                        <option disabled> </option>
                                        <option disabled>- {{sister.class}} -</option>
                                    {% endif %}
                                    <option value={{sister.number|format("%02d") ~ "_" ~ sister.first}}>#{{sister.number|format("%02d")}} {{sister.first}} "{{sister.sister}}" {{sister.last}}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                    </div>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Email</span>
                        <input type="email" id="email" name="email" required="true" style="width:100%">
                    </div>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Amount</span>
                        <input type="number" id="amount" name="amount" required="true" style="width:100%">
                    </div>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap">The money goes to</span>
                        <input type="text" id="purpose" name="purpose" style="width:100%">
                    </div>

                    <div style="display:table; width:100%">
                        <span style="display:table-row; width:100%"><font color="#b94646">*</font>What memory do you want to share?</span>
                        <textarea id="story" name="story" rows="6" required="true" style="display:table-row; width:100%"></textarea>
                    </div>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Card Number</span>
                        <input type="tel" size="20" maxlength="19" data-stripe="number" required="true" style="width:100%">
                    </div>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Expiration Date</span>
                        <select class="exp" data-stripe="exp_month" required="true" >
                            <option value="default" disabled selected>MM</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                        <span>/</span>
                        <select class="exp" data-stripe="exp_year" required="true">
                            <option value="default" disabled selected>YY</option>
                            {% set currentYear = "now"|date("Y") %}
                            {% for year in currentYear..(currentYear + 20) %}
                                <option value={{year % 100}}>{{year % 100}}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div style="display:table; width:100%">
                        <span style="white-space:nowrap"><font color="#b94646">*</font>CVC</span>
                        <input type="tel" size="4" maxlength="4" data-stripe="cvc" required="true" style="width:100%">
                    &emsp; &emsp;
                        <span style="white-space:nowrap"><font color="#b94646">*</font>Billing Zip</span>
                        <input type="tel" size="6" maxlength="6" data-stripe="address_zip" required="true" style="width:100%">
                    </div>

                    <div class="anonymous-checkbox">
                        <input type="checkbox" name="anonymous" value="anonymous">
                        <label for="anonymous" class="anonymous-label">Post my story anonymously</label>
                    </div>

                    <br>
                    <button type="submit" class="submit" id="custom-button">I'm ready to donate!</button>

                    <br>
                    <label><font color="#b94646">*</font> Required</label>
                </form>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="../scripts/getAndSendStripeToken.js"></script>
    <script type="text/javascript" src="../scripts/responsive.js"></script>
    <script type="text/javascript">
        if (isMobile()) {
            var err = document.getElementById('payment-errors');
            err.setAttribute("class", "hidden");

            {% if app.err_msg is not empty %}
                alert("{{app.err_msg}}");
            {% endif %}
            {% if app.suc_msg is not empty %}
                alert("We appreciate your donation, {{app.suc_msg}}! <3");
            {% endif %}
        } else {
            {% if app.suc_msg is not empty %}
                $('#form').find('legend').text("We appreciate your donation, {{app.suc_msg}}! <3");
            {% endif %}
        }
    </script>
</body>
</html>